[build]
target = "riscv64gc-unknown-none-elf"

[target.riscv64gc-unknown-none-elf]
rustflags = [
    "-C", "link-arg=-Tuser.ld",
    "-C", "force-frame-pointers=yes",
]

# 禁用默认配置，避免使用根目录的内核链接器
[env]
CARGO_TARGET_RISCV64GC_UNKNOWN_NONE_ELF_RUSTFLAGS = ""
