[build]
target = "riscv64gc-unknown-none-elf"

[target.riscv64gc-unknown-none-elf]
rustflags = [
    "-C", "link-arg=-Tkernel/src/arch/riscv64/linker.ld",
    "-C", "force-frame-pointers=yes"
]

[target.aarch64-unknown-none]
rustflags = [
    "-C", "link-arg=-Tkernel/src/arch/aarch64/linker.ld",
    "-C", "force-frame-pointers=yes"
]

# Userspace programs with musl libc (std support)
[target.riscv64gc-unknown-linux-musl]
linker = "riscv64-linux-gnu-gcc"
rustflags = [
    "-C", "target-feature=+crt-static",
    "-C", "link-arg=-static",
    "-C", "link-arg=-nostdlib",
    "-C", "link-arg=-T/home/william/Rux/userspace/musl.ld",
    "-C", "link-arg=-L/home/william/Rux/toolchain/riscv64-rux-linux-musl/lib",
]

[env]
# musl libc paths
MUSL_ROOT = { value = "toolchain/riscv64-rux-linux-musl", relative = true }
